<!DOCTYPE html>
<html>
<head>
   <title>AWS S3 File Browser</title>
</head>
<body>
   <h1>AWS S3 File Browser</h1>

   {% if 'user_id' in session %}
   <p>Welcome, User {{ session['user_id'] }}!</p>
   <form method="POST" action="/logout">
       <input type="submit" value="Logout">
   </form>
   <form method="POST" action="/upload" enctype="multipart/form-data">
       <input type="file" name="file">
       <label for="file_path">File Path (optional):</label>
       <input type="text" name="file_path">
       <!--<label for="file_type">File Type (optional):</label>
       <input type="text" name="file_type">-->
       <input type="submit" value="Upload">
   </form>
   <ul>
       {% for metadata in file_metadata_list %}
           <li>
               File Name: {{ metadata[1] }}<br>
               File Type: {{ metadata[2] }}<br>
               URL: <a href="{{ metadata.url_link_s3 }}" target="_blank">{{ metadata[3] }}</a><br>
               Created Time: {{ metadata[4] }}<br>
               Updated Time: {{ metadata[5] }}<br>
               <a href="/download/{{ metadata[1] }}" download>Download</a>
               <a href="/delete/{{ metadata[1] }}">Delete</a>
           </li>
       {% endfor %}
   </ul>
   {% else %}
   <p>You need to <a href="/login">log in</a> to access your files.</p>
   <p>New user? <a href="/register">Register here</a></p>
   {% endif %}
</body>
</html>

